.rectangle0 {
    position: fixed;
    width: 190px;
    height: 100px;
    background-color: black;
    top: 250px;
    left: 65px;
    opacity: 0.4;
}

.diamond0 {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: red;
    top: 225px;
    left: 130px;
    transform: rotate(45deg);
    transform-origin: center;
    opacity: 0.8;
}

.rectangle1 {
    position: fixed;
    width: 190px;
    height: 100px;
    background-color: black;
    top: 250px;
    left: 350px;
    opacity: 0.4;
}

.diamond1 {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: red;
    top: 225px;
    left: 420px;
    transform: rotate(45deg);
    transform-origin: center;
    opacity: 0.8;
}

.rectangle2 {
    position: fixed;
    width: 190px;
    height: 100px;
    background-color: black;
    top: 250px;
    left: 650px;
    opacity: 0.4;
}

.diamond2 {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: red;
    top: 225px;
    left: 720px;
    transform: rotate(45deg);
    transform-origin: center;
    opacity: 0.8;
}
.rectangle3 {
    position: fixed;
    width: 190px;
    height: 100px;
    background-color: black;
    top: 250px;
    left: 950px;
    opacity: 0.4;
}

.diamond3 {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: red;
    top: 225px;
    left: 1020px;
    transform: rotate(45deg);
    transform-origin: center;
    opacity: 0.8;
}
.rectangle4 {
    position: fixed;
    width: 190px;
    height: 100px;
    background-color: black;
    top: 250px;
    left: 1250px;
    opacity: 0.4;
}

.diamond4 {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: red;
    top: 225px;
    left: 1320px;
    transform: rotate(45deg);
    transform-origin: center;
    opacity: 0.8;
}

.rectangle5 {
    position: fixed;
    width: 190px;
    height: 100px;
    background-color: black;
    top: 520px;
    left: 400px;
    opacity: 0.4;
}

.diamond5 {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: red;
    top: 495px;
    left: 470px;
    transform: rotate(45deg);
    transform-origin: center;
    opacity: 0.8;
}
.rectangle6 {
    position: fixed;
    width: 190px;
    height: 100px;
    background-color: black;
    top: 520px;
    left: 700px;
    opacity: 0.4;
}

.diamond6 {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: red;
    top: 495px;
    left: 770px;
    transform: rotate(45deg);
    transform-origin: center;
    opacity: 0.8;
}
.rectangle7 {
    position: fixed;
    width: 190px;
    height: 100px;
    background-color: black;
    top: 520px;
    left: 1000px;
    opacity: 0.4;
}

.diamond7 {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: red;
    top: 495px;
    left: 1070px;
    transform: rotate(45deg);
    transform-origin: center;
    opacity: 0.8;
}
