@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: whitesmoke;
            overflow-x: hidden;
        }

        .btn-custom {
            height: 100px;
            width: 80px;
            border-radius: 50%;
            background-color: black;
            border-color: black;
            text-align: center;
            margin: 10px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.4;
        }

            .btn-custom:hover {
                background-color: gray;
            }

        .avatar {
            border-radius: 50%;
            object-fit: cover;
            width: 100%;
            max-width: 300px;
            height: 300px;
            margin: auto;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: palevioletred;
            color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

            .footer img {
                max-width: 20px;
                max-height: 20px;
            }

            .footer span {
                color: bisque;
            }

        #aboutme {
            text-align: justify;
            font-size: large;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12">
                <h1>Hello,</h1>
                <h3>a bit about me:</h3>
                <div class="d-flex flex-wrap">
                    <button class="btn btn-custom" onclick="window.location = '/Images/Resume.pdf';">Resume</button>
                    <button class="btn btn-custom" onclick="window.location = '/Home/Skills';">Skills</button>
                    <button class="btn btn-custom" onclick="window.location = '/Home/Projects';">Projects</button>
                </div>
                <p id="aboutme">Hi, My name is Ramya. I'm a Full Stack Software Developer with five years of hands-on experience in C# and .NET technology. I have expertise across the entire Software Development Life Cycle (SDLC), consistently adhering to SAFE Agile principles. My role extends beyond mere coding, encompassing active participation in requirement discussions with clients and project managers. Proficient in analyzing project requirements, I excel in breaking down tasks into manageable user stories, estimating story points, and determining feature sizes. My versatility spans various domains, including pharmacy and finance sectors, where I've delivered robust solutions tailored to specific industry needs. Additionally, I possess knowledge of AWS S3 data syncing processes, adding another layer of proficiency to my skill set.</p>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 text-center">
                <img class="avatar" src="~/Images/DP.jpg" />
            </div>
        </div>
    </div>
    <div class="footer">
        <a href="tel:+16042039314"><img src="~/Images/Call.jpg" /> <span>+1(604)203-9314</span></a>

        <a href="mailto:ramya04.kumar@gmail.com"><img src="~/Images/Mail.jpg" /><span>ramya04.kumar@gmail.com</span></a>

        <a href="https://github.com/ramyak457" target="_blank"><img src="~/Images/GitHub.jpg" /><span>ramyak457</span></a>
    </div>
</body>
</html>