@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/Skills.css")
    @Styles.Render("~/Content/Technologies.css")
</head>
<body>
    <div id="myModalFrontend" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times</span>
            <h1>FrontEnd</h1>
            <p>HTML</p>
            <div class="container">
                <div class="skills highcode">100%</div>
            </div>

            <p>CSS</p>
            <div class="container">
                <div class="skills mediumcode">80%</div>
            </div>

            <p>JavaScript</p>
            <div class="container">
                <div class="skills lowcode">75%</div>
            </div>
        </div>
    </div>
    <div id="myModalDatabase" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times</span>
            <h1>Database</h1>
            <p>SQL</p>
            <div class="container">
                <div class="skills highcode">90%</div>
            </div>

            <p>ElasticSearch</p>
            <div class="container">
                <div class="skills mediumcode">80%</div>
            </div>

            <p>AWS S3</p>
            <div class="container">
                <div class="skills lowcode">65%</div>
            </div>

            <p>Splunk</p>
            <div class="container">
                <div class="skills lowcode">60%</div>
            </div>
        </div>
    </div>
    <div id="myModalCloud" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times</span>
            <h1>Cloud</h1>
            <p>AWS</p>
            <div class="container">
                <div class="skills lowcode">60%</div>
            </div>
        </div>
    </div>
    <div id="myModalFramework" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times</span>
            <h1>Languages & Framework</h1>
            <p>C#</p>
            <div class="container">
                <div class="skills highcode">100%</div>
            </div>
            <p>ASP.NET MVC</p>
            <div class="container">
                <div class="skills mediumcode">90%</div>
            </div>
            <p>Rest API</p>
            <div class="container">
                <div class="skills lowcode">90%</div>
            </div>
            <p>ADO.Net</p>
            <div class="container">
                <div class="skills mediumcode">90%</div>
            </div>
            <p>WCF</p>
            <div class="container">
                <div class="skills lowcode">90%</div>
            </div>
        </div>
    </div>
    <div id="myModalTools" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times</span>
            <h1>Tools</h1>
            <p>Visual Studio</p>
            <div class="container">
                <div class="skills highcode">100%</div>
            </div>
            <p>SSMS</p>
            <div class="container">
                <div class="skills highcode">100%</div>
            </div>
            <p>Informix DB</p>
            <div class="container">
                <div class="skills mediumcode">90%</div>
            </div>
            <p>Postman</p>
            <div class="container">
                <div class="skills highcode">100%</div>
            </div>
            <p>Swagger</p>
            <div class="container">
                <div class="skills mediumcode">90%</div>
            </div>
        </div>
    </div>
    <div id="myModalDeployment" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times</span>
            <h1>Deployment</h1>
            <p>Docker</p>
            <div class="container">
                <div class="skills lowcode">70%</div>
            </div>
            <p>Jenkins</p>
            <div class="container">
                <div class="skills highcode">90%</div>
            </div>
            <p>Octopus</p>
            <div class="container">
                <div class="skills mediumcode">90%</div>
            </div>
        </div>
    </div>
    <div id="myModalMethodologies" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times</span>
            <h1>Agile/Scrum</h1>
            <p>JIRA</p>
            <div class="container">
                <div class="skills highcode">100%</div>
            </div>
            <p>JIRA Align</p>
            <div class="container">
                <div class="skills mediumcode">90%</div>
            </div>
        </div>
    </div>
    <div id="myModalVersionCtrl" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times</span>
            <h1>Version Control</h1>
            <p>Git</p>
            <div class="container">
                <div class="skills highcode">100%</div>
            </div>
            <p>Bitbucket</p>
            <div class="container">
                <div class="skills mediumcode">90%</div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 style="margin-left:500px; margin-top:30px"><span style="color:blue">My </span>Skills</h2>
        <div class="rectangle0" style="font-family:Arial; color:white; font-size:larger" onclick="openModal1()">
            <span style='position:absolute; bottom:0px;text-align:center;'>FrontEnd Technologies</span>
        </div>
        <div class="diamond0"></div>
        <div class="rectangle1" style="font-family: Arial; color: white; font-size: larger" onclick="openModal2()">
            <span style='position:absolute; bottom:0px;text-align:center'> Cloud Technologies </span>
        </div>
        <div class="diamond1"></div>
        <div class="rectangle2" style="font-family: Arial; color: white; font-size: larger" onclick="openModal3()">
            <span style='position:absolute; bottom:0px;text-align:center'>Database</span>
        </div>
        <div class="diamond2"></div>
        <div class="rectangle3" style="font-family: Arial; color: white; font-size: larger" onclick="openModal4()">
            <span style='position:absolute; bottom:0px;text-align:center'>Languages & Framework</span>
        </div>
        <div class="diamond3"></div>
        <div class="rectangle4" style="font-family: Arial; color: white; font-size: larger" onclick="openModal5()">
            <span style='position:absolute; bottom:0px;text-align:center'>Tools</span>
        </div>
        <div class="diamond4"></div>
        <div class="rectangle5" style="font-family: Arial; color: white; font-size: larger" onclick="openModal6()">
            <span style='position:absolute; bottom:0px;text-align:center'>Deployment</span>
        </div>
        <div class="diamond5"></div>
        <div class="rectangle6" style="font-family: Arial; color: white; font-size: larger" onclick="openModal7()">
            <span style='position:absolute; bottom:0px;text-align:center'>Methodologies</span>
        </div>
        <div class="diamond6"></div>
        <div class="rectangle7" style="font-family: Arial; color: white; font-size: larger" onclick="openModal8()">
            <span style='position:absolute; bottom:0px;text-align:center'>Version Control</span>
        </div>
        <div class="diamond7"></div>
    </div>

    <script src="~/Scripts/Skills.js"></script>
</body>
</html>
